CPLUS_INCLUDE_PATH="utils/fastText/src"

DB_HOST="db"
DB_PORT=5432
DB_USERNAME="foo"
DB_PASSWORD="bar"

BSKY_REPO="at://did:plc:123456qwerty"
BSKY_HOSTNAME="feed.bsky.com"

STATISTICS_USER="user.bsky.social"
STATISTICS_PASSWORD="1234qwerty"

REDIS_HOST="redis"
REDIS_PORT="6379"

AI_URL="https://ai.example.com/api/generate"
AI_USER="user"
AI_PASSWORD="qwerty1234"

PERSIST_FOLLOWS="true"

RUN_BACKFILL="false"
BACKFILL_REPO_WORKERS=16
BACKFILL_PDS_CONCURRENCY=4

USERS_CACHE_EXPIRATION_MINUTES=43200  # 30 days
POSTS_CACHE_EXPIRATION_MINUTES=1080   # 7 days
